* {
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Baloo Thambi 2", system-ui;
  background-color: #c4dccd;
  color: #393939;
  font-size: 16px;
}

h1 {
  font-size: 88px;
  font-family: "Pixelify Sans", sans-serif;
}

h2 {
  font-size: 60px;
  font-family: "Pixelify Sans", sans-serif;
}

p {
  font-weight: 700;
  line-height: 1.2;
}

/*Sizing*/

.container {
  margin: 0 auto;
  max-width: 1050px;
}

/*header*/

.header {
  background-color: #c4dccd;
  text-align: center;
  padding: 80px 0px;
}

.headernav {
  padding-top: 40px;
  border-bottom: 4px solid #2b2b2b;
  background-color: #fff;
}

.headernav ul li {
  text-align: center;
  list-style: none;
  display: inline-block;
  width: 130px;
  border: 3px solid #2b2b2b;
  margin: 0 -7px -3px 0;
}

.headernav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #dddddd;
  color: #393939;
  font-weight: 700;
  text-transform: uppercase;
}

.headernav a:hover {
  background-color: #2b2b2b;
  color: #fff;
}

/*about*/
.about {
  background-color: #dddddd;
  padding: 60px 20px;
  border-bottom: 4px solid #2b2b2b;
  border-top: 4px solid #2b2b2b;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto, 1fr, 1fr, auto;
  gap: 12px;
  text-align: center;
}

.card-title {
  background-color: #c4c4c4;
  padding: 4px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #2b2b2b;
}

.card-body {
  padding: 10px;
}

.div1 {
  grid-column: span 3 / span 3;
  border: 3px solid #2b2b2b;
  background-color: white;
  padding: 10px;
}

.div2,
.div3,
.div4 {
  grid-row-start: 2;
  border: 3px solid #2b2b2b;
  background-color: white;
}

.div5,
.div6,
.div7 {
  grid-row-start: 3;
  border: 3px solid #2b2b2b;
  background-color: white;
}

.div8 {
  grid-column: span 3 / span 3;
  grid-row-start: 4;
  border: 3px solid #2b2b2b;
  background-color: white;
  padding: 10px;
}

/*ringtones*/
.ringtones {
  background-color: #dddddd;
  padding: 60px 20px;
  border-bottom: 4px solid #2b2b2b;
}

/*snake*/
.snake {
  background-color: #dddddd;
  padding: 60px 20px;
  border-bottom: 4px solid #2b2b2b;
}

/*footer*/
.footer {
  background-color: #c3c7cb;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
