* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffc85f;
  color: #646464;
}

h1 {
  font-size: 94px;
  font-family: "Permanent Marker", cursive;
  color: #fff;
}

h2 {
  font-size: 60px;
  font-family: "Permanent Marker", cursive;
}

h3 {
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
  color: #646464;
  opacity: 0.8;
  letter-spacing: 2px;
}

p {
  line-height: 1.2;
  font-size: 16px;
}

/*Sizing*/

.container {
  margin: 0 auto;
  max-width: 1150px;
}

/*header*/

.header {
  padding: 100px 0px 130px 0px;
  position: relative;
  text-align: center;
}

.headernav {
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
}

.headernav ul li {
  text-align: center;
  list-style: none;
  display: inline-block;
}

.headernav a {
  padding: 10px;
  text-decoration: none;
  color: #646464;
}

.headernav a:hover {
  color: #f6625e;
  border-bottom: 2px solid #f6625e;
}

/*header nav*/

/*about*/
.about {
  background-color: #fff;
  padding: 30px 0px 50px 0px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-items {
  flex: 1 2 auto;
  width: 300px;
  padding: 20px;
  margin: 6px;
  border-radius: 10px;
  align-content: center;
}

.flex-items:nth-child(1) {
  background-color: #ffc85f;
  font-weight: 500;
}

.flex-items:nth-child(2) {
  background-color: #efd1a5;
}

.flex-items:nth-child(3) {
  background-color: #b8d1ff;
}

.flex-items:nth-child(4) {
  background-color: #c1e297;
}

.flex-items:nth-child(5) {
  background-color: #ffb8c9;
}

.flex-items:nth-child(6) {
  background-color: #efd1a5;
}

.flex-items:nth-child(7) {
  background-color: #b8d1ff;
}
.flex-items:nth-child(8) {
  background-color: #ffc85f;
  font-weight: 500;
}

/*ringtones*/
.ringtones {
  position: relative;
  padding: 30px 0px 50px 0px;
}

/*snake*/
.snake {
  background-color: #fff;
  position: relative;
  padding: 30px 0px 50px 0px;
}

/*footer*/
.footer {
  padding: 50px 0px 30px 0px;
  text-align: center;
  font-size: 14px;
  position: relative;
}

/*bottom wave*/

.bottom-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-wave img {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

/*top wave*/

.top-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.top-wave img {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}
